body{
  margin:0;
  background:#eef2ff;
  font-family:Arial, sans-serif;
}

.container{
  width:360px;
  background:#fff;
  padding:20px;
  margin:60px auto;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.auth{
  text-align:center;
}

h2{
  margin-bottom:10px;
}

label{
  font-size:14px;
}

input,select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  width:100%;
  padding:12px;
  background:#2563eb;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#1e40af;
}

#result{
  margin-top:15px;
  font-size:14px;
}

.logout{
  background:#ef4444;
  margin-top:10px;
}
